@media screen and (min-width: 320px) {
  .cont {
    height: 100vh;
    max-height: 900px;
  }
  .cont .home-hero-slider {
    width: 100%;
    height: 100vh;
    max-height: 900px;
  }
  .cont .home-hero-slider .item {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    max-height: 800px;
  }
  .cont .home-hero-slider .item .content {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
  }
  .cont .home-hero-slider .item .content .bg-text {
    background-color: rgba(0, 67, 148, 0.8);
    display: inline-block;
    padding: 5px 10px;
    font-weight: 100;
  }
  .cont .home-hero-slider .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 20px;
  }
  .cont .home-hero-slider .owl-dots button.owl-dot span {
    height: 4px;
    width: 40px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .cont .home-hero-slider .owl-dots button.owl-dot.active span, .cont .home-hero-slider .owl-dots button.owl-dot:hover span {
    background-color: #dfae00;
  }
  .about-container {
    height: 100vh;
    max-height: 900px;
    background-image: url(../img/about-home.jpg);
    background-position: -220px center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
  }
  .about-container .content {
    width: 90%;
    max-width: 650px;
    padding: 60px 20px;
    color: white;
  }
  .about-container .content .title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    position: relative;
  }
  .about-container .content .title:before {
    width: 2000px;
    content: attr(data-text);
    position: absolute;
    font-weight: bold;
    font-size: 4rem;
    bottom: -20px;
    left: -90px;
    color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-stroke-color: rgba(255, 255, 255, 0.2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
  }
  .about-container .content .text {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 100;
  }
  .about-container .content .vermas {
    background-color: #004394;
    padding: 5px 25px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  .about-container .content .vermas span {
    position: relative;
  }
  .about-container .content .vermas:before {
    top: 0;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #dfae00;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .about-container .content .vermas:hover:before {
    left: 0;
  }
  .grid-container .item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  .grid-container .item:nth-child(1) .overlay {
    background-color: rgba(229, 120, 0, 0.9);
  }
  .grid-container .item:nth-child(2) .overlay {
    background-color: rgba(0, 67, 148, 0.9);
  }
  .grid-container .item:nth-child(3) .overlay {
    background-color: rgba(223, 174, 0, 0.9);
  }
  .grid-container .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    opacity: 1;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
  .grid-container .item .content {
    position: relative;
    padding: 80px 30px;
    top: 30%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .grid-container .item .content .img-logo {
    left: calc(50% - 100px);
    position: relative;
  }
  .grid-container .item .content .img-logo .logo {
    width: 200px;
    margin: 0 auto;
  }
  .grid-container .item .content .img-logo .logo-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    margin: 0 auto;
  }
  .grid-container .item .content .text {
    color: white;
    margin: 30px 0;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .grid-container .item .vermas {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 50px);
    width: 100px;
    text-align: center;
    color: white;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .clients-container {
    padding: 100px 10px;
    background-image: url(../img/clients-bg.jpg);
    background-position: center;
    background-size: cover;
  }
  .clients-container .title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients-container .title-container .title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    color: #004394;
    display: inline-block;
    margin-bottom: 40px;
  }
  .clients-container .title-container .title:before {
    content: attr(data-text);
    position: absolute;
    font-weight: bold;
    font-size: 4rem;
    top: -25px;
    left: -100px;
    width: auto;
    color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-stroke-color: rgba(0, 67, 148, 0.1);
    -webkit-text-stroke-color: rgba(0, 67, 148, 0.1);
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
  }
  .clients-container .grid-items {
    padding: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    margin: 0 auto;
  }
  .clients-container .grid-items .items {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 50%;
    text-align: center;
    padding: 30px 0;
  }
  .clients-container .grid-items .items img {
    width: 160px;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .clients-container .grid-items .items:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .projects-container {
    padding: 20px;
    background-image: url(../img/proyectos.jpg);
    background-position: center;
    background-size: cover;
  }
  .projects-container .title {
    color: #004394;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  .projects-container .grid-slider {
    margin: 20px 0;
    border: 5px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .projects-container .grid-slider .col {
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects-container .grid-slider .col .slide-projects {
    width: 100%;
    height: 300px;
  }
  .projects-container .grid-slider .col .slide-projects .item {
    background-size: cover;
    width: 100%;
    height: 300px;
  }
  .projects-container .grid-slider .col .slide-projects .owl-dots {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .projects-container .grid-slider .col .slide-projects .owl-dots button span {
    width: 7px;
    height: 7px;
    margin: 5px 4px;
    background-color: #fff;
  }
  .projects-container .grid-slider .col .slide-projects .owl-dots button.active span {
    background-color: #989898;
  }
  .projects-container .grid-slider .col .row {
    width: 50%;
    height: 50%;
  }
  .projects-container .grid-slider .col .row .slide-projects {
    width: 100%;
    height: 200px;
  }
  .projects-container .grid-slider .col .row .slide-projects .item {
    background-size: cover;
    height: 200px;
    width: 100%;
  }
  .projects-container .file-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-container .file-text img {
    width: 60px;
  }
  .projects-container .file-text .text {
    font-weight: 100;
    font-size: 12px;
    margin: 0 10px;
    color: #d54041;
    line-height: 1.5;
  }
  .projects-container .file-text .text a {
    color: #d54041;
  }
  .projects-container .file-text .text strong {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .cont {
    height: 100vh;
    max-height: 900px;
  }
  .cont .home-hero-slider {
    width: 100%;
    height: 100vh;
    max-height: 900px;
  }
  .cont .home-hero-slider .item {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    max-height: 900px;
  }
  .cont .home-hero-slider .item .content {
    width: 100%;
    height: 100vh;
    max-height: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: 900;
  }
  .cont .home-hero-slider .item .content .bg-text {
    background-color: rgba(0, 67, 148, 0.8);
    display: inline-block;
    padding: 5px 10px;
    font-weight: 100;
  }
  .cont .home-hero-slider .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 20px;
  }
  .cont .home-hero-slider .owl-dots button.owl-dot span {
    height: 4px;
    width: 40px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .cont .home-hero-slider .owl-dots button.owl-dot.active span, .cont .home-hero-slider .owl-dots button.owl-dot:hover span {
    background-color: #dfae00;
  }
  .about-container {
    height: 100vh;
    max-height: 900px;
    background-image: url(../img/about-home.jpg);
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
  }
  .about-container .content {
    width: 55%;
    max-width: 650px;
    padding: 60px;
    color: white;
  }
  .about-container .content .title {
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0;
    position: relative;
  }
  .about-container .content .title:before {
    width: 2000px;
    content: attr(data-text);
    position: absolute;
    font-weight: bold;
    font-size: 5rem;
    bottom: -20px;
    left: -90px;
    color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-stroke-color: rgba(255, 255, 255, 0.2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
  }
  .about-container .content .text {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 100;
  }
  .about-container .content .vermas {
    background-color: #004394;
    padding: 5px 25px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  .about-container .content .vermas span {
    position: relative;
  }
  .about-container .content .vermas:before {
    top: -100%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #e57800;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .about-container .content .vermas:hover:before {
    top: 0;
  }
  .grid-container {
    height: 100vh;
    max-height: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid-container .item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  .grid-container .item:nth-child(1) .overlay {
    background-color: rgba(229, 120, 0, 0.9);
  }
  .grid-container .item:nth-child(2) .overlay {
    background-color: rgba(0, 67, 148, 0.9);
  }
  .grid-container .item:nth-child(3) .overlay {
    background-color: rgba(223, 174, 0, 0.9);
  }
  .grid-container .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    opacity: 0;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
  .grid-container .item .content {
    position: relative;
    padding: 80px 30px;
    top: 30%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .grid-container .item .content .img-logo {
    left: calc(50% - 100px);
    position: relative;
  }
  .grid-container .item .content .img-logo .logo {
    width: 200px;
    margin: 0 auto;
  }
  .grid-container .item .content .img-logo .logo-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  .grid-container .item .content .text {
    color: white;
    margin: 30px 0;
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .grid-container .item .vermas {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 50px);
    width: 100px;
    text-align: center;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .grid-container .item:hover .overlay,
  .grid-container .item:hover .vermas,
  .grid-container .item:hover .content .img-logo .logo-hover {
    opacity: 1;
  }
  .grid-container .item:hover .content .text {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .clients-container {
    padding: 100px 10px;
    background-image: url(../img/clients-bg.jpg);
    background-position: center;
    background-size: cover;
  }
  .clients-container .title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients-container .title-container .title {
    font-size: 35px;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    color: #004394;
    display: inline-block;
    margin-bottom: 40px;
  }
  .clients-container .title-container .title:before {
    content: attr(data-text);
    position: absolute;
    font-weight: bold;
    font-size: 5rem;
    top: -25px;
    left: -120px;
    width: auto;
    color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-stroke-color: rgba(0, 67, 148, 0.1);
    -webkit-text-stroke-color: rgba(0, 67, 148, 0.1);
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
  }
  .clients-container .grid-items {
    padding: 20px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    margin: 0 auto;
  }
  .clients-container .grid-items .items {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    text-align: center;
    padding: 30px 0;
  }
  .clients-container .grid-items .items img {
    width: 220px;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .clients-container .grid-items .items:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .projects-container {
    padding: 60px;
    background-image: url(../img/proyectos.jpg);
    background-position: center;
    background-size: cover;
  }
  .projects-container .title {
    color: #004394;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
  }
  .projects-container .grid-slider {
    margin: 30px 0;
    border: 5px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .projects-container .grid-slider .col {
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
    max-width: 33.33%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: block;
  }
  .projects-container .grid-slider .col .slide-projects {
    width: 100%;
    height: 400px;
  }
  .projects-container .grid-slider .col .slide-projects .item {
    background-size: cover;
    width: 100%;
    height: 400px;
  }
  .projects-container .grid-slider .col .slide-projects .owl-dots {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .projects-container .grid-slider .col .row {
    height: 50%;
    width: 100%;
  }
  .projects-container .grid-slider .col .row .slide-projects {
    width: 100%;
  }
  .projects-container .grid-slider .col .row .slide-projects .item {
    background-size: cover;
    width: 100%;
  }
  .projects-container .file-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-container .file-text img {
    width: 60px;
  }
  .projects-container .file-text .text {
    font-weight: 100;
    font-size: 20px;
    margin: 0 10px;
    color: #d54041;
    line-height: 1.1;
  }
  .projects-container .file-text .text a {
    color: #d54041;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }
  .projects-container .file-text .text a:hover {
    color: #004394;
  }
  .projects-container .file-text .text strong {
    font-size: 31px;
    line-height: 1.1;
  }
}
