header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  -webkit-transition: background-color 0.1s ease-in, top 0.7s ease-in-out;
  transition: background-color 0.1s ease-in, top 0.7s ease-in-out;
}

header.scrolled-color {
  background-color: #004394;
}

header .brand-logo {
  top: calc(50% - 17.5px);
  left: 10px;
  position: absolute;
  width: auto;
  max-height: 35px;
}

header .brand-logo .customize-partial-edit-shortcut-custom_logo {
  left: 30px;
}

header .brand-logo .custom-logo {
  max-width: 180px;
  height: auto;
}

header .main-menu .menu {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-menu .menu li {
  list-style: none;
  padding: 0 10px;
}

header .main-menu .menu li a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .main-menu .menu li a:hover {
  color: #dfae00;
}

header .main-menu .menu li.current-menu-item a {
  font-weight: 900;
  color: #dfae00;
}

header .social-links {
  position: absolute;
  top: calc(50% - 12.5px);
  right: 10px;
}

header .social-links a img {
  width: 25px;
}

footer {
  padding: 30px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  max-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .column ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer .column ul li {
  line-height: 1.2;
}

footer .column p {
  line-height: 1.2;
  color: #676863;
}

footer .column a {
  color: #676863;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

footer .column a:hover {
  color: #004394;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-container a {
  height: 30px;
  overflow: hidden;
}

.social-container a .item {
  width: 30px;
  margin: 0 3px;
}

.social-container a .item img {
  width: 100%;
}

.social-container a .item img.no-hover, .social-container a .item img.hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social-container a:hover .item img.no-hover {
  -webkit-transform: translateY(calc(-100% - 5px));
          transform: translateY(calc(-100% - 5px));
}

.social-container a:hover .item img.hover {
  -webkit-transform: translateY(calc(-100% - 3px));
          transform: translateY(calc(-100% - 3px));
}

.wg-contact-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wg-contact-container .item .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.wg-contact-container .item .col img {
  width: 40px;
}

.wg-contact-container .item .col span {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: #004394;
  height: 12px;
}

.wg-contact-container .item .col a {
  height: 12px;
  margin: 0;
  padding: 0;
  line-height: 12px;
  font-size: 12px;
  text-decoration: none;
  color: #004394;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.wg-contact-container .item .col a:hover {
  color: #004394;
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Avenir";
  font-style: normal;
  line-height: 1;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.contenedor-general-banner {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor-general-banner .cont-info {
  width: 90%;
  max-width: 635px;
  padding: 0 5%;
  color: white;
  text-transform: uppercase;
}

.contenedor-general-banner .cont-info h1 {
  font-size: 50px;
  line-height: 54px;
  margin: 0;
}

.contenedor-general-banner .cont-info h1 strong {
  font-weight: 100;
  padding: 10px 20px;
  background: #d0a20b;
  position: relative;
  left: -10px;
  display: inline-block;
}

.contenedor-general-banner .cont-info p {
  font-size: 21px;
  margin: 0;
}

.contenedor-general-banner .cont-info p strong {
  font-weight: 500;
  background: #0f4a91;
  padding: 7px 13px;
  position: relative;
  left: -10px;
  display: inline-block;
}

.contenedor-general-banner .cont-info h2 {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  font-weight: 100;
}

.contenedor-general-banner .cont-info h2 strong {
  font-weight: 100;
  padding: 10px 20px;
  background: #d0a20b;
  position: relative;
  left: -10px;
  display: inline-block;
}

.contenedor-general-banner .cont-info h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 8px;
}

.contenedor-general-banner .cont-info h3 strong {
  font-weight: 100;
  padding: 10px 20px;
  background: #0f4a91;
  position: relative;
  left: -10px;
  display: inline-block;
}

.contact-container {
  padding: 60px;
  background-image: url(../img/contacto.jpg);
  background-size: cover;
  background-position: center;
}

.contact-container .title {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  font-size: 35px;
}

.contact-container .subtitle {
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}

.contact-container .form {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-container .form .col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  max-width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.contact-container .form .col .form-control {
  width: 100%;
  margin: 20px 0;
}

.contact-container .form .col .form-control input {
  width: 80%;
  border-radius: 6px;
  height: 25px;
  padding: 5px 10px;
  font-size: 12px;
  border: none;
}

.contact-container .form .col .form-control textarea {
  margin: 0;
  width: 80%;
  border-radius: 10px;
  height: 70px;
  border: none;
  padding: 10px;
  font-size: 12px;
}

.contact-container .form .col:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .form .col:last-child button[type="submit"] {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.contact-container .form .col:last-child button[type="submit"] span {
  position: relative;
}

.contact-container .form .col:last-child button[type="submit"]:before {
  top: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #dfae00;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contact-container .form .col:last-child button[type="submit"]:hover:before {
  left: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contenedor-general-banner .cont-info {
    width: 90%;
  }
  .contenedor-general-banner .cont-info h1 {
    font-size: 32px;
    line-height: 36px;
    margin: 0;
  }
  .contenedor-general-banner .cont-info h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .contenedor-general-banner .cont-info h3 {
    font-size: 22px;
    line-height: 26px;
  }
}
