@import "variables";
@import "header";

* {
    scroll-behavior: smooth;
    box-sizing: content-box;
    font-family: $font;
    font-style: normal;
    line-height: 1;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: grey;
}

a {
    text-decoration: none;
}
