@import "variables";
@import "header";
@import "footer";
@import "social_widget";

* {
    scroll-behavior: smooth;
    box-sizing: content-box;
    font-family: $font;
    font-style: normal;
    line-height: 1;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
